body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: black;
}
.headerbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.dashboardboxes {
  border: 1px rgb(223, 221, 221) solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.329);
  width: 100%;
  height: 300px;
  max-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 1rem;
}

#app {
  background-color: rgb(187, 184, 184);
  width: 90%;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}
