.shopping-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: center;
}

.container {
  margin-top: 50px;
  height: 900px;
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  justify-self: center;
  align-items: center;
  align-content: flex-start;
}
